<!DOCTYPE html>
<html>
	<head>
	  <title>Omrails</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	    <div id="wrap">
			<%=render 'layouts/header' %>
			<div class="container">
				<Span id="test-margin-call">
					<% flash.each do |name, msg |%>
					<%= content_tag(:div, msg, class: "alert alert-#{name}")%>
					<% end %>
				<div class="hero-unit">
					<%= yield %>
				</div>
				</span>
				<%=render 'layouts/footer' %>
			</div>
		
		</div>
	</body>
</html>
